<div class="modal__overlay">&nbsp;</div>
<div mat-dialog-content>
  <div class="preload" *ngIf="!retriveRemoteInfoComplete"><mat-spinner></mat-spinner></div>
  <button class="modal__button-close" (click)="closeModal()">&times;</button>
  <div class="book-detail">
    <div class="book-detail__header">
      <div class="book-card__thumbnail">
        <img [src]="templateBookDetails.thumbnail" [alt]="templateBookDetails.title">
      </div>
      <div class="book-detail__title">
        <h1 mat-dialog-title class="book-detail__title--title">{{ templateBookDetails.title }}</h1>
        <h2 class="book-detail__title--authors">{{ templateBookDetails.authors }}</h2>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab label="Dettagli">
        <div class="book-detail__information-box">
          <ul class="book-detail__information-list">
            <li *ngIf="templateBookDetails.authors" class="book-detail__information-list-item">
              <span class="book-detail__information-list-item--label">Autori: </span>
              <span class="book-detail__information-list-item--content">{{ templateBookDetails.authors }}</span>
            </li>
            <li *ngIf="templateBookDetails.categories" class="book-detail__information-list-item">
              <span class="book-detail__information-list-item--label">Categorie: </span>
              <span class="book-detail__information-list-item--content">{{ templateBookDetails.categories }}</span>
            </li>
            <li *ngIf="templateBookDetails.isbn" class="book-detail__information-list-item">
              <span class="book-detail__information-list-item--label">ISBN: </span>
              <span class="book-detail__information-list-item--content">{{ templateBookDetails.isbn }}</span>
            </li>
            <li *ngIf="templateBookDetails.publisher" class="book-detail__information-list-item">
              <span class="book-detail__information-list-item--label">Editore: </span>
              <span class="book-detail__information-list-item--content">{{ templateBookDetails.publisher }}</span>
            </li>
            <li *ngIf="templateBookDetails.publishedDate" class="book-detail__information-list-item">
              <span class="book-detail__information-list-item--label">Data di pubblicazione: </span>
              <span class="book-detail__information-list-item--content">{{ templateBookDetails.publishedDate }}</span>
            </li>
            <li *ngIf="templateBookDetails.pageCount" class="book-detail__information-list-item">
              <span class="book-detail__information-list-item--label">Numero di pagine: </span>
              <span class="book-detail__information-list-item--content">{{ templateBookDetails.pageCount }}</span>
            </li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Descrizione">
        <div class="book-detail__description">
          <p>{{ templateBookDetails.description ? templateBookDetails.description : 'Nessuna descrizione disponibile' }}</p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

