@import '../../scss/variables';

.book-detail {

    &__header {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-left: 20px;

        &--authors {
            font-size: 12px;
            color: grey;
            font-weight: 200;
        }
    }

    &__description {
        font-size: 16px;
        padding: 10px;
        font-weight: 100;
    }

    &__information-box {
        padding: 10px;
    }

    &__information-list-item {

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &--content {
            font-size: 16px;
            color: $color-grey-dark-2;
        }

        &--label {
            font-size: 16px;
            color: $color-grey-dark-1;
        }
    }
}

.preload {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $color-white;
}

