/*----- MODAL -----*/

.mat-dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000008c;
    padding: 50px 100px !important;
}

.mat-dialog-content {
    background-color: #fff;
    padding: 20px !important;
    border-radius: 5px;
    min-height: 500px;
    //animation: modalOpen .8s;
    backface-visibility: hidden;

    &--close {
        //animation: modalClose .8s;
    }
}

@keyframes modalOpen {
    0%   {
        opacity: 0;
        transform: scale(.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modalClose {
    0%   {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.2);
    }
}
