/*----- COLORS -----*/
$color-white: #fff;

$color-body: #fff;
$color-book-container-bg: #f4f2f2;
$color-book-card: green;

$color-primary: #2f6d9a;
$color-primary-light: #19988c;
$color-primary-light-2: #bce2df;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;